.semiimg{
  height: 70vh;
  width: 100vw;
  object-fit: cover;
}
.slick-dots li.slick-active button:before{
  background-color: #fbbf24;
  /* border:  red; */
  color: #fbbf24 !important;

}
.slick-dots li button:before{
  background-color: black;
  /* border:  red; */
  color: black !important;
}
